<!DOCTYPE html>
<html>
<head>
    <title>submit</title>
</head>
<body>
    <form action='/' method='post'>
    <div>
        Message:
        <input type='text' name='message'>
        <button type='submit' name='submit'>submit</button>
    </div>
    </form>

</body>
</html>